body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}

#header {
  background-color: #1f2937;
}

#top-bar {
  padding: 0 120px;
  display: flex;
}

.page-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
  flex: auto;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  flex: auto;
}

.nav-bar a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  padding: 22px 12px;
}

.nav-bar a:hover {
  background-color: #0a101a;
}

#hero-section {
  width: 80%;
  padding: 60px 10px;
  margin: 0 auto;
  display: flex;
}

.hero-text-container {
  flex: 1 1 0%;
}

.hero-text-container h1 {
  line-height: 50px;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.hero-text-container p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0;
}

.signup-button {
  height: 35px;
  width: 120px;
  font-size: 18px;
  font-weight: bold;
  color: #e5e7eb;
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
}

.signup-button:hover {
  transform: scale(1.02);
}

.hero-image-container {
  background-color: #e5e7eb5f;
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-container span {
  font-size: 18px;
  color: #e5e7eb;
}

#info-section {
  padding: 30px;
}

#info-section h2 {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  margin-bottom: 40px;
}

.info-card-container {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}

.info-card {
  width: 150px;
  height: 150px;
  flex: 0 0 auto;
}

.info-card img:hover {
  transform: scale(1.02);
}

.info-card img {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 20px;
}

.info-card .description {
  font-size: 11px;
  color: #4c4d4e;
  text-align: center;
}

#quote-section {
  background-color: #e5e7eb;
  padding: 80px 180px;
}

#quote-section p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  margin: 0;
}

#quote-section span {
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  color: #1f2937;
  margin: 0;
  display: block;
}

#call-to-action {
  padding: 80px;
}

.signup-container {
  background-color: #3882f6;
  border-radius: 8px;
  padding: 50px;
  width: 75%;
  margin: 0 auto;
  display: flex;
}

.signup-container h2, .signup-container p{
  margin: 0;
  color: #e5e7eb;
}

.signup-container div {
  flex: 1 1 0%;
}

#sign-up-bottom {
  border: 2px solid #e5e7eb;
  align-self: flex-end;
  flex: 0 0 auto;
}
